.footer{
    display: flex;
    flex-direction: column;
    background-color: red;
    color: #fff;
    padding: 20px;
}

.link{
    display: flex;
    margin-bottom: 10px;
}
.link div{
    margin-right: auto;
    padding-right: auto;
}
a:hover{
    color: white;
}

.contact{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.contact div{
    display: flex;
    align-items: center;
    max-width: 340px;
}

iframe{
    width: 340px;
    min-width: 100%;
    border: 3px solid black;
    border-radius: 20px;
}
.smh{
    height: 175px;
    width: 218px;
}
.smh ul{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}
.smh ul li{
    list-style: none;
}
.smh ul li a img{
    width: 65px;
    border-radius: 20px;
    
}
@media ( max-width: 920px){
    .link{
        flex-direction: column;
    }
    .link div{
        margin-bottom: 20px;
    }
    
    .contact{
        flex-direction: column;
        margin-top: 30px;
    }
    
    iframe{
        margin: 20px 0;
    }
}
