*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cover{
    background-color: blue;
    padding: 40px 10px;
    text-align: center;
}

.cover h1{
    font-size: 55px;
}
.cover h3{
    font-size: 20px;
    font-weight: normal;
}
.cover p{
    margin: 20px 0px;
    font-size: 30px;
    font-style: italic;
}