*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cover img{
    width: 100%;
}
main{
    background: white;
    padding: 10px;
}
main section{
    padding: 40px 0;
}
main h1{
    font-size: 35px;
}
main p{
    margin: 20px 0px;
    font-size: 20px;
}
.whoweare{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}
.whoweare div{
    width: 340px;
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
}
.whoweare img{
    width: 340px;
    min-width: 1%;
    border-radius: 20px;
}
.what-we-do{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    width: 1fr 1fr 1fr 1fr;

}
.what-we-do div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.what-we-do div img{
    width: 95%;
    border: 3px solid black;
    border-radius: 10px;
}
.navigate{
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    padding: 10px 60px; 
    background-color: green;
}
.navigate:hover{
    font-style: italic;
}
.team{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.team div{
    display: flex;
    width: 340px;
    flex-direction: column;
    align-items: center;
}
.team div img{
    width: 100%;
    border-radius: 20px;
}
.team div p{
    margin: 0;
    padding-top: 10px;
}
