.navbar{
    display: flex;
    align-items: center;
    background-color: #2A656D;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.navbar1{
    height: 80px;    
}
.logo img{
    margin: 10px;
    border-radius: 50%;
}

.nav-list ul{
    display: flex;
}

.nav-list ul li{
    display: inline-block; 
}
.nav-list ul li a{
    font-size: 30px;
    margin: 0px 10px;
    padding: 10px;
    border: 3px solid white;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    transition: 0.3s;    
}

.nav-list ul li a:hover{
    background: white;
    color: black;
}   

@media ( max-width: 940px){

    .navbar{
        flex-direction: column;
        height: fit-content;
    }

    .navbar1{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #fff;
    }

    .nav-list-hide{
        display: none;
    }

    .nav-list-shown{
        display: block;
        position: absolute;
        top: 80px;
        width: 100%;
        text-align: center;
        background-color: 2A656D;
        border-bottom: 1px solid #fff;
    }
   .nav-list-shown ul {
    flex-direction: column;
    padding: 10px 0;
   }
   .nav-list-shown ul li{
    padding: 10px;
   }
   .nav-list-shown ul li a{
    border: none;
   }
   
   .menu{
        margin-right: 20px;
        /* cursor: pointer; */
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu div{
        width: 35px;
        color: white;
        background-color: white;
        padding: 3px;
        border-radius: 5px;        
    }
    .menu #bar1{
        transform: translateY(-5px);
    }
    .menu #bar3{
        transform: translateY(5px);
    }    
    .cross #bar1{
        transform: translateY(6px) rotate(45deg);
    }
    .cross #bar2{
        opacity: 0;
    }
    .cross #bar3{
        transform: translateY(-6px) rotate(315deg);
    }
}
