*{
    margin: 0;
    padding: 0;
}
.container{
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid black;
    font-size: 10px;
}

.container li{
    list-style: none;
    padding: 10px 40px;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
    margin: 2px;
}
.container main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 2.5em;
    border: 1px solid black;
    margin: 5px;
    font-size: 39px;
    border-radius: 20px;
}
.hide{
    display: none;
}
.active{
    color: white;
    background-color: blue;
}