.service-product{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    justify-content: center;
    margin: 50px 10px;
}
.service-product div{
    max-width: 340px;    
}
.service-product div img{
    width: 100%;
    border: 5px solid black;
    border-radius: 20px;
}
.service-product div h3{
    display: flex;
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}