main h3{
    font-size: 40px;
    text-align: center;
    padding: 40px 0;
}
.individual{
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.individual section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.individual section div{
    width: 340px;
    max-height: 340px;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 20px;
    
}
.individual-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individual-description p{
    font-size: 25px;
}
.individual section div img{
    max-height: 340px;
}
