.footer{
    display: flex;
    flex-direction: column;
    background-color: red;
    color: #fff;
    padding: 20px;
}

.link{
    display: flex;
    margin-bottom: 10px;
}
.link div{
    margin-right: auto;
    padding-right: auto;
}
a:hover{
    color: white;
}

.contact{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.contact div{
    display: flex;
    align-items: center;
}
.smh{
    height: 175px;
    width: 250px;
}

.smh ul li{
    list-style: none;
    display: inline-block;
}
.smh ul li a img{
    height: 75px;
    border-radius: 20px;
    /* width: 60px; */
}
@media ( max-width: 920px){
    .link{
        flex-direction: column;
    }
    .link div{
        margin-bottom: 20px;
    }
    


    .contact{
        flex-direction: column;
        margin-top: 30px;
    }
    .contact div{   
        /* margin: 20px 0px; */
    } 
    iframe{
        margin: 20px 0;
    }
}
